table {
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.804);
}

th {
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid rgb(247, 247, 247);
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

.isPrivate {
  text-align: center;
}

.hide-table-data {
  display: none;
}

.fa-check {
  color: rgb(0, 181, 0);
}

.fa-times {
  color: rgb(181, 15, 0);
}

/* media query */
@media only screen and (max-width: 760px) {
  tr {
    border: 1px solid rgb(236, 236, 236);
  }

  .isPrivate {
    text-align: left;
  }

  .hide-column {
    display: none;
  }

  td,
  th {
    padding: 4px;
    font-size: 12px;
  }
}

/* media query*/
@media only screen and (max-width: 460px) {
  .tbl-content {
    overflow-x: auto;
    padding: 10px;
  }
}

/* media query*/
@media only screen and (max-width: 260px) {
  .tbl-content {
    overflow-x: auto;
  }

  .hide-summary {
    display: none;
  }
}
