* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow-x: auto;
}

.split {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table-flex {
  flex: 1;
}

@media (max-width: 768px) {
  .split {
    flex-direction: column;
  }
}
