body {
  font-family: sans-serif;
}

.split {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table-flex {
  flex: 1;
}

@media (max-width: 768px) {
  .split {
    flex-direction: column;
  }
}
